<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
</head>
        <title>Data Driven World Design Thinking Project</title>
        <h1>
            <a href="/home"><span class ="top">Data Driven World Design Thinking Project</span></a>
        </h1>
        <h5>By Ammond Wong, Loh Kun Hong, Tok Jing Huan and Lynette Teng</h5>
        
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/our model">Our Model</a>
        </div>
    </head>
    <body>
        {% block content%}
        {% endblock %}
        <footer>
            <a href="/home">Home</a><br>
            <a href="/our model">Our Model</a>
            <h5>Data Driven World Design Thinking Project</h5>
            <h5>By Ammond Wong, Loh Kun Hong, Tok Jing Huan and Lynette Teng</h5>
        </footer>
    </body>
</html>