{% extends 'base.html' %}
{% block content %}
<div class= "full-screen">
    <img src="/static/homepageimg.jpg" alt="Full Screen Image" >
</div>

<h1>Problem Statement</h1>
<p>How Might We predict future crop production of Sub-Saharan Africa by analysing climate change factors? </p>
<h1>Our Goal</h1>
<p>With the help of machine learning and polynormial regression, we hope to help farmers predict crop production values based on changing
    climate conditions so that they can better prepare for lower crop yield seasons.
</p>
{% endblock %}