{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <section class="content-section">
        <h1>Problem Statement</h1>
        <p>How might we predict future crop production of Sub-Saharan Africa by analyzing climate change factors?</p>
        
        <h1>Our Goal</h1>
        <p>
            With the help of machine learning and polynomial regression, we hope to help farmers predict crop production values based on changing
            climate conditions so that they can better prepare for lower crop yield seasons.
        </p>
    </section>
</div>
{% endblock %}
